html{
    background: #000428; /* fallback for old browsers */
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#000428), to(#004e92));
    background: -webkit-linear-gradient(to left, #000428, #004e92);
    background: -moz-linear-gradient(to left, #000428, #004e92);
    background: -o-linear-gradient(to left, #000428, #004e92);
    background: linear-gradient(to left, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}                
h1{
    color:white;
    text-align: center;
}
img{
    height:250px;
    width:200px;
}
html, body, h1, div, head{
    font-family: 'Joti One', cursive;
}