html{
    background: #000428; /* fallback for old browsers */
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#000428), to(#004e92));
    background: -webkit-linear-gradient(to left, #000428, #004e92);
    background: -moz-linear-gradient(to left, #000428, #004e92);
    background: -o-linear-gradient(to left, #000428, #004e92);
    background: linear-gradient(to left, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}                
h1{
    color:white;
    text-align: center;
}
img{
    padding-top: 10px;
    height:200px;
    width:59%;
    text-align: center;
}
html, body, h1, div, head{
    font-family: 'Joti One', cursive;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
