html{
    background: #000428; /* fallback for old browsers */
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#000428), to(#004e92));
    background: -webkit-linear-gradient(to left, #000428, #004e92);
    background: -moz-linear-gradient(to left, #000428, #004e92);
    background: -o-linear-gradient(to left, #000428, #004e92);
    background: linear-gradient(to left, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    
body{
    margin-left:200px;
    margin-right:200px;
    margin-bottom:200px;
    min-width:1000px;
    min-height:800px;
}
h1{
    color:white;
    text-align: center;
}
h2{ 
    color:white;
}
img{
    padding-top: 10px;
    height:200px;
    width:59%;
    text-align: center;
}
html, body, h1, h2, div, head{
    font-family: 'Joti One', cursive;
}
table {
    text-align:center;
    border-width:1px;
    border-color:white;
    border-style:solid;
    border-collapse:collapse;
    table-layout:fixed;
}

td {
    color:white;
    border-width:1px;
    border-color:white;
    border-style:solid;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
th {
    font-family: 'Joti One', cursive;
    color:white;
    font-size:20px;
}

 /* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
